pre {
  font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important;
}
.nav-link {
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
div.card-footer-left {
  width: 30%;
  float: left;
}
div.card-footer-right {
  width: 30%;
  float: right; 
  text-align: right;
}
div.card-footer-right {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
color: #1976d2;
}