<template>
  <div class="container">
    <div class="card mt-3">
      <div class="card-title">
        <h3 style="padding-top: 15px;">&nbsp; {{ article.title }}</h3>
        <hr>
      </div>
      <div class="card-body">
        <pre>{{ article.description }}</pre>
      </div>
      <div class="card-footer">
        {{ article.date | moment("dddd Do MMMM YYYY à H:mm:ss") }}

        <div class="card-footer-right">
          <router-link v-if="admin===true" :to="{ path: 'modify-article', query: { id: article._id } }">Modify Article | &nbsp;</router-link>
          <button v-if="admin===true" class="deleteBtn" @click="deleteArticleModal(article._id, article.title)">Delete Article | &nbsp;</button>
        </div>
      </div>
      <Notification />
    </div>
    <Confirm ref="confirm"></Confirm>
  </div>
</template>

<script>
import axios from 'axios'
import Notification from '../components/Notification'
import Confirm from '../components/Confirm'
import jwtDecode from 'jwt-decode'

export default {
  name: 'articleItem',
  data () {
    const token = localStorage.usertoken ? jwtDecode(localStorage.usertoken) : null

    return {
      article: '',
      admin: false,
      decoded: token
    }
  },
  methods: {
    async deleteArticleModal (id, title) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure you want to delete article with title "' + title + '" ?', { color: 'red' })) {
        axios.post('api/articleDelete', {
          id: id
        })
          .then(() => {
            this.$toasted.show('Article deleted!')
            let i = this.articles.map(item => item._id).indexOf(id)
            this.articles.splice(i, 1)
            this.$router.back()
          }).catch((err) => {
            console.log(err)
          })
      }
    }
  },
  mounted () {
    axios.post('api/articleSingle', {
      id: this.$route.query.id
    })
      .then((res) => {
        this.article = res.data
      }).catch((err) => {
        console.log(err)
      })

    if (this.decoded != null && this.decoded.isAdmin === true) {
      this.admin = true
    }
  },
  components: { Notification, Confirm }
}
</script>
