<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="createArticle">
          <h1 class="h3 mb-3 font-weight-normal">Create a new article</h1>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" v-model="title" class="form-control" name="title" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="5" cols="30" v-model="description" class="form-control" name="description" placeholder="Enter description" />
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Create article</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'create-admin',
  data () {
    return {
      title: '',
      description: ''
    }
  },
  methods: {
    createArticle () {
      axios.post('api/article',
        {
          title: this.title,
          description: this.description
        }
      ).then((res) => {
        this.title = ''
        this.description = ''

        this.$toasted.show(res.data)
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
