<template>
  <div class="container">
    <div class="jumbotron mt-5" style="display: none;">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center"></h1>
        <img src="\static\img\logo.png">
      </div>
    </div>

    <v-spacer></v-spacer>

    <label for="sort" v-if="auth!=='loggedin'">Classer par :</label>
    <select id="sort" class="form-control" v-model="selected">
      <option disabled value="">Sort by:</option>
      <option value="date">date</option>
      <option value="title">title</option>
    </select>

    <div class="card mt-3" v-for="(article, index) in orderedItems(articles)" :key="index">
      <div class="card-title">
        <h3 style="padding-top: 15px;">
          &nbsp; <router-link :to="{ path: 'article', query: { id: article._id } }">{{ article.title }}</router-link>
        </h3>
        <hr>
      </div>
      <div class="card-body">
        <pre>{{ article.description }}</pre>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
         {{ article.date | moment("dddd Do MMMM YYYY à H:mm:ss") }}
        </div>
        <div class="card-footer-right">
          <router-link v-if="admin===true" :to="{ path: 'modify-article', query: { id: article._id } }">Modify Article | &nbsp;</router-link>
          <button v-if="admin===true" class="deleteBtn" @click="deleteArticleModal(article._id, article.title)">Delete Article | &nbsp;</button>

          <a href="#" class="likelink">
            <i class="fas fa-thumbs-up"></i>
          </a> -
          <a href="#" class="likelink">
            <i class="fas fa-thumbs-down"></i>
          </a>
        </div>
      </div>
    </div>
    <Confirm ref="confirm"></Confirm>
  </div>
</template>

<script>
import axios from 'axios'
import Confirm from '../components/Confirm'
import jwtDecode from 'jwt-decode'

export default {
  name: 'app',
  data () {
    const token = localStorage.usertoken ? jwtDecode(localStorage.usertoken) : null

    return {
      selected: 'date',
      articles: [],
      admin: false,
      decoded: token
    }
  },
  methods: {
    orderedItems (items) {
      return items.slice().sort((a, b) => {
        return a[this.selected] > b[this.selected]
      })
    },
    async deleteArticleModal (id, title) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure you want to delete article with title "' + title + '" ?', { color: 'red' })) {
        axios.post('api/articleDelete', {
          id: id
        })
          .then(() => {
            this.$toasted.show('Article deleted!')
            let i = this.articles.map(item => item._id).indexOf(id)
            this.articles.splice(i, 1)
          }).catch((err) => {
            console.log(err)
          })
      }
    }
  },
  mounted () {
    axios.get('api/articles')
      .then((res) => {
        this.articles = res.data
      }).catch((err) => {
        console.log(err)
      })

    if (this.decoded != null && this.decoded.isAdmin === true) {
      this.admin = true
    }
  },
  components: { Confirm }
}
</script>
