<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="modifyArticle">
          <h1 class="h3 mb-3 font-weight-normal">Modify an article</h1>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" v-model="title" class="form-control" name="title" value="article.title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="25" cols="30" v-model="description" class="form-control" name="description" />
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Modify article</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'modify-article',
  data () {
    return {
      title: '',
      description: ''
    }
  },
  methods: {
    modifyArticle () {
      axios.post('api/articleModify',
        {
          id: this.$route.query.id,
          title: this.title,
          description: this.description
        }
      ).then((res) => {
        this.$toasted.show(res.data)
        this.$router.back()
      }).catch((err) => {
        console.log(err)
      })
    }
  },
  mounted () {
    axios.post('api/articleSingle', {
      id: this.$route.query.id
    })
      .then((res) => {
        this.title = res.data.title
        this.description = res.data.description
      }).catch((err) => {
        console.log(err)
      })
  }
}
</script>
