<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
     <img src="\static\img\logo.png" style="padding-left:50px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" to="/">Home</router-link>
        </li>

        <li v-if="auth===''" class="nav-item">
          <router-link class="nav-link" to="/login">Login</router-link>
        </li>

        <li v-if="auth===''" class="nav-item">
          <router-link class="nav-link" to="/register">Register</router-link>
        </li>

        <li v-if="auth==='loggedin'" class="nav-item">
          <router-link class="nav-link" to="/profile">Profile</router-link>
        </li>

        <li v-if="admin===true" class="nav-item">
          <router-link class="nav-link" to="/create-article">Create Article</router-link>
        </li>

        <li v-if="auth==='loggedin'" class="nav-item">
          <a class="nav-link" href="" v-on:click="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import EventBus from './EventBus'
import jwtDecode from 'jwt-decode'

export default {
  name: 'navbar',
  data () {
    const token = localStorage.usertoken ? jwtDecode(localStorage.usertoken) : null

    return {
      auth: '',
      user: '',
      admin: false,
      decoded: token
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('usertoken')
    }
  },
  mounted () {
    EventBus.$on('logged-in', status => {
      this.auth = status
    })
    EventBus.$on('isAdmin', status => {
      this.admin = status
    })

    if (this.decoded != null) {
      if (this.decoded.isAdmin === true) {
        this.admin = true
      }

      this.auth = 'loggedin'
    }
  }
}
</script>
