<template>
  <div class="card mt-3">
    <div class="card-title">
      <h4 style="padding-top: 10px;">&nbsp; Commentaires</h4>
      <hr>
    </div>
    <div class="card-body">
        <div class="messages" v-for="(object, index) in messages" :key="index">
          <p><span class="font-weight-bold">{{ object.author }}: </span>{{ object.message }}</p>
        </div>
    </div>
    <div class="card-footer">
      <form @submit.prevent="sendMessage">
        <div class="form-group pb-3">
          <label for="author" v-if="auth!=='loggedin'">Author email :</label>
          <input type="email" v-if="auth!=='loggedin'" id="author" v-model="author" class="form-control"/><br>
          <label for="message">Message :</label>
          <textarea id="message" v-model="message" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-success">Send</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import io from 'socket.io-client'
import jwtDecode from 'jwt-decode'

export default {
  name: 'Notification.vue',
  data () {
    const token = localStorage.usertoken ? jwtDecode(localStorage.usertoken) : null

    return {
      auth: '',
      author: '',
      message: '',
      messages: [],
      socket: io('http://localhost:3000'),
      decoded: token
    }
  },
  methods: {
    sendMessage (e) {
      e.preventDefault()
      this.socket.emit('event', {
        articleId: this.$route.query.id,
        author: this.author,
        message: this.message
      })
    }
  },
  mounted () {
    axios.post('api/comments', {
      articleId: this.$route.query.id
    })
      .then((res) => {
        this.messages = res.data
      }).catch((err) => {
        console.log(err)
      })

    this.socket.on('data', (data) => {
      this.message = ''
      this.messages = [...this.messages, data.data]
    })

    if (this.decoded != null) {
      this.auth = 'loggedin'
      this.author = this.decoded.email
    }
  }
}
</script>
