<template>
  <div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">PROFILE</h1>
      </div>
      <table class="table col-md-6 mx-auto">
        <tbody>
        <tr>
          <td>First Name</td>
          <td>{{ first_name }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ last_name }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ email }}</td>
        </tr>
        <tr>
          <td>IsAdmin</td>
          <td>{{ isAdmin }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import jwtDecode from 'jwt-decode'
import EventBus from './EventBus'

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)

    if (decoded.isAdmin === true) {
      EventBus.$emit('isAdmin', true)
    }

    return {
      first_name: decoded.first_name,
      last_name: decoded.last_name,
      email: decoded.email,
      isAdmin: decoded.isAdmin
    }
  }
}
</script>
