<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="register">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <div class="form-group">
            <label for="first-name">First name</label>
            <input type="text" id="first-name" v-model="first_name" class="form-control" name="first_name" placeholder="Enter your first name">
          </div>
          <div class="form-group">
            <label for="last-name">Last name</label>
            <input type="text" id="last-name" v-model="last_name" class="form-control" name="last_name" placeholder="Enter your lastname name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" v-model="email" class="form-control" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" v-model="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../router'

export default {
  data () {
    return {
      first_name: '',
      last_name: '',
      email: '',
      password: ''
    }
  },
  methods: {
    register () {
      axios.post('api/register',
        {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          isAdmin: false,
          password: this.password
        }
      ).then((res) => {
        if (res.data.error) {
          this.$toasted.show('Error: ' + res.data.error)
        } else {
          if (res.data.status === undefined) {
            this.$toasted.show('You must fill all the inputs!')
          } else {
            this.$toasted.show('Success: ' + res.data.status)
            router.push({ name: 'Login' })
          }
        }
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
